body{
  font-style: oblique;
  background-color: #e6e3df;
  border-radius: 5%;
  border-style: groove;
  border-color: red;
  border-width: medium;

}
img{
  float: right;
  box-shadow: 10px,5px,9px,2px,black;
}
li{
    list-style-type: upper-roman;
}
h3{
  color: red;
}
code {
  color: green;
white-space: pre;
}
